{% extends 'index.html' %} {% block title %}Home Page{% endblock %}

{% block content %}
<h1>Home Page</h1>
<form action="">
<div>
    <label for="flavor">Flavor:</label>
    <input type="text" name="flavor" id="flavor">
</div>
<div>
    <label for="size">Size:</label>
    <input type="text" name="size" id="size">
</div>
<div>
    <label for="rating">Rating:</label>
    <input type="float" name="rating" id="rating">
</div>
<div>
    <label for="image">Image URL:</label>
    <input type="text" name="image" id="image">
</div>
</form>
<div id="cupcakes-list">
<ul></ul>
</div>
<ul>

</ul>
{% endblock %}