{% extends 'index.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<h1>This is the login page</h1>
<div id="login-form">
    <form method="POST">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
        <div class="form-group">
            {{field.label}}{{field(class="form-control")}}
            {% for err in field.errors %}
            {{err}}
            {% endfor %}
        </div>
        {% endfor %}
        <button class="btn btn-primary btn-lg">Login</button>
    </form>
</div>
{% endblock %}