body{
  background-color: rgb(188, 75, 237);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header{
  margin:0 auto;
  font-size: 1.5rem;
}

.App-instructions{
  margin:5px auto;
  font-size: 0.9rem;
}
