<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.first_name}} {{user.last_name}}</user></title>
</head>
<body>
    <h1>Details about {{user.first_name}} {{user.last_name}}</h1>
    <p>First Name: {{user.first_name}}</p>
    <p>Last Name: {{user.last_name}}</p>
    <img src="{{user.image_url}}" alt="Profile Picture">
    <p>Image URL: <a href="{{user.image_url}}">Profile Picture</a></p>

    <a href="/">Home Page</a>
</body>
</html>