{% extends 'index.html' %}
{% block title %}{{user.get_full_name}}{% endblock %}
{% block content %}
<div class="card" style="width: 18rem;">
    <img src="{{user.image_url}}" alt="Profile Picture">
    <div class="card-body">
      <h5 class="card-title">{{user.get_full_name}}</h5>
    <div class="edit-delete-btn">
    <form action="/users/{{ user.id }}/edit">
        <button class="btn btn-warning">Edit</button>
    </form>
    <form action="/users/{{ user.id }}/delete" method="POST">
        <button class="btn btn-danger">Delete</button>
    </form>
    </div>
    <h3>Posts:</h3>
        {% for post in user.posts %}
        <p class="card-text post"><a href="/posts/{{ post.id }}"> {{ post.title }} </a></p>
        {% endfor %}
    <form action="/users/{{ user.id }}/posts/new">
        <button class="btn btn-success">Add Post</button>
    </form>
</div>
    </div>
  </div>
{% endblock %}