{% extends 'index.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <h1>Details about {{user.get_full_name}}</h1>
    <p>First Name: {{user.first_name}}</p>
    <p>Last Name: {{user.last_name}}</p>
    <p>Profile Picture</p>
    <img src="{{user.image_url}}" alt="Profile Picture">
    <div>
    <form action="/users/{{ user.id }}/edit">
        <button>Edit</button>
    </form>
    <form action="/users/{{ user.id }}/edit" method="POST">
        <button>Delete</button>
    </form>
    </div>
    <p>Image URL: <a href="{{user.image_url}}">Profile Picture</a></p>
{% endblock %}