<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Pets</title>
</head>
<body>
    <h1>My Pets</h1>
    <ul>
        {% for pet in pets%}
        <li><a href="/{{pet.id}}">{{pet.name}} -- {{pet.species}}</a></li>
        {% endfor %}
    </ul>
    <h2>Add your pet to the list!</h2>
    <form action="/" method="POST">
        <input type="text" name="name" placeholder="name">
        <input type="text" name="species" placeholder="species">
        <input type="number" name="hunger" placeholder="hunger">
        <button>Add Pet</button>
    </form>
</body>
</html>