.tweet{
    border: 2px solid #ccc;
    padding: 10px;
    margin-bottom: 5px;
    background-color: rgba(250, 250, 161, 0.93);
    border-radius: 15px;
}

.username{
    font-weight: bold;
    margin: 1px;
}

.date{
    color: #666;
    margin: 1px;
}

.name{
    margin: 1px;
}

.message{
    margin: 1px;
}

