.AddColorForm{
    height: 500px;
    width: 500px;
    background-color: yellowgreen;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.AddColorForm-name-color{
    margin: 10px;
}

.AddColorForm-hexCode{
    margin: 10px;
}