.ColorsList{
    background-color: pink;
    width: 500px;
    height: 500px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ColorsList ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
}

.ColorsList-add-color{
    color: black;
}

.ColorsList-add-color:hover{
    color: red;
}

.ColorsList-color{
    color: black;
}

.ColorsList-color:hover{
    color: purple;
}