.NavBar-ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 30px;
}

.NavBar{
    background-color: black;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
}

li{
    display: inline;
}

.NavLinkItem-a-tag{
    text-decoration: none;
    color: white;
}

.NavLinkItem-a-tag:hover{
    text-decoration: none;
    color: lime;
}
