{% extends 'index.html' %} {% block title %}New User{% endblock %} {% block
content %}

<div>
  <h1>Enter information below to create a new Blogly User</h1>
</div>
<div id="new-user-page-div">
  <div id="new-user-div">
    <form action="/users/new" method="POST">
      <div class="form-group">
        <label for="first_name">First Name</label>
        <input
          type="text"
          class="form-control"
          id="first_name"
          name="first_name"
          autocomplete="off"
          required
        />
      </div>
      <div class="form-group">
        <label for="last_name">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="last_name"
          name="last_name"
          autocomplete="off"
          required
        />
      </div>
      <div class="form-group">
        <label for="image_url">Add a link to a profile picture</label>
        <input
          type="text"
          class="form-control"
          id="image_url"
          name="image_url"
          placeholder="This is optional"
          autocomplete="off"
        />
      </div>
      <button class="btn btn-dark">Add user</button>
    </form>
  </div>
</div>
{% endblock %}
