/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
  display: flex;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}

.story-information{
  display: flex;
  flex-direction: column;
  align-items:baseline;
  inline-size: 755px;
  overflow-wrap: break-word;
}

.story-top-row{
  margin-bottom: 2px;
}

.icons-div{
  display: flex;
}

.icons-div i{
  margin: 0 5px;
}

small{
  margin: 2px 0;
}




/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: underline;
}

.story-author {
  margin-left: 0.5em;
  color: green;
  font-size: 0.8em;
}

.story-user {
  display: block;
  color: goldenrod;
  font-size: 0.9em;
}
