{% extends 'index.html' %} {% block title %}Add Pet{% endblock %} {% block
content %}
<div id="add-pet-page-div">
<h1>Add a new pet for adoption</h1>
<div id="add-pet-div">
<form  method="POST">
  {{ form.hidden_tag() }}
  {% for field in form if field.widget.input_type != 'hidden' %}
  <div class="form-group">
  {{field.label}}{{field(class="form-control")}}
  {% for err in field.errors %}
  {{err}}
  {% endfor %}
  </div>
  {% endfor %}
  <button class="btn btn-primary btn-lg">Add Pet</button>
</form>
</div>
</div>
{% endblock %}
