{% extends 'index.html' %}
{% block title %}{{pet.name}} Details{% endblock %}
{% block content %}
<div id="pet-details-page-div">
<div id="pet-individual-div">
    <h1>{{ pet.name}} </h1>
    <h3>Species: {{ pet.species }}</h3>
    <h3>Age: {{ pet.age }}</h3>
    <img src="{{pet.photo_url}}" alt="Image of pet">
    {% if pet.available == 't' %}
        <h4>{{ pet.name }} is available for adoption</h4>
    {% else %}
        <h4>{{ pet.name }} is pending adoption</h4>
    {% endif %}
    <h3>Notes:</h3>
    <p>{{ pet.notes }}</p>
</div>
<div id="edit-pet-div">
    <h4>Edit Pet Information</h4>
    <div class="flash-message-div">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <h5>{{ message }}</h5>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <div id="pet-edit-form">
      <form  method="POST">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
        <div class="form-group">
        {{field.label}}{{field(class="form-control")}}
        {% for err in field.errors %}
        {{err}}
        {% endfor %}
        </div>
        {% endfor %}
        <button class="btn btn-primary btn-lg">Update Pet</button>
      </form>
      </div>
</div>
{% endblock %}