.FlipGame-title{
    margin-bottom: 5px;
}

.FlipGame-button{
    background-color: lightblue;
    border: 2px solid blue;
}

.FlipGame-tails-count{
    margin: 0;
}

.FlipGame-heads-count{
    margin: 0;
}